$white         : #ffffff;
$gray          : #333333;
$red           : #ffcaaf;
$green         : #f1ffc4;
$blue          : #a7bed3;
$light-blue    : #c6e2e9;
$brown         : #dab894;
$border-radius : 4px;
$screen-medium : 30em;
$font-size     : 1.1em;
$highlight     : rgba(0, 0, 0, 0.05);
